<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>新北 ◎ 近期活動</title>
    <link rel="shortcut icon" href="http://new-taipei-activities.alanyeh20001.com/images/favicon.ico" />
    <link rel="canonical" href="http://new-taipei-activities.alanyeh20001.com/<%= current_path %>" />

    <%= partial "layouts/meta_tags" %>

    <%= partial "layouts/og_tags" %>

    <%= stylesheet_link_tag :all %>

    <% if build? %>
      <%= partial "layouts/google_analytics" %>
    <% end %>
  </head>

  <body class="body">
    <%= partial "fbsdk" %>

    <%= partial "layouts/header" %>

    <div class="main-block">
      <%= partial "layouts/navbar" %>

      <%= yield %>
    </div>

    <%= partial "layouts/footer" %>

    <%= javascript_include_tag :all %>
  </body>
</html>
