<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>新北 ◎ 近期活動</title>
    
    <meta name="description" content="新北市近期活動快訊，藝文休閒、青年體育、衛生保健、環境保護、社會福利、交通觀光、教育等資訊都在這。含活動簡介、時間以及地點。" />
    <meta name="keywords" content="新北活動，近期活動，圖書館，音樂祭，腳踏車，篩檢，高峰會，環保，就業，創業，講座" />
    <meta name="robots" content="index, follow" />
    
    <meta property="og:title" content="新北 ◎ 近期活動" />
    <meta property="og:description" content="新北市近期活動快訊，藝文休閒、青年體育、衛生保健、環境保護、社會福利、交通觀光、教育等資訊都在這。含活動簡介、時間以及地點。" />
    <meta property="og:url" content="http://alanyeh20001.com" />
    <meta property="og:image" content="http://alanyeh20001.com<%= image_path("og.png") %>" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1696773680573444" />
    
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
  </head>  
  
  <body class="body">
    <%= partial "fbsdk" %>
    
    <%= partial "layouts/header" %>
    
    <div class="main-block">
      <%= partial "layouts/navbar" %>
    
      <%= yield %>
    </div>
    
    <%= partial "layouts/footer" %>
  </body>
</html>
